<html><body><p>Каталогизация файлов на контакт.</p>
<form action="http://smosrep01:3000/atlantis/v1/fs/file_upload" method="post" enctype="multipart/form-data" name="loadFF" id="loadFF">
<table>
<tr><td>Название пакета документов:</td><td><input type="text" name="commName" style="width: 500px;margin-top: 5px;margin-bottom: 5px;" value="Загружено через Atlantis"></td></tr>
<tr><td>Тип документа:</td><td>
<select name="docTypeId" size="1"  style="width: 500px;margin-top: 5px;margin-bottom: 5px;">
<option value="2570009">Приветственное письмо КАСКО одноразовый платеж курьеру</option>
<option value="2570001">Дополнительное соглашение</option>
<option value="2570002">Список водителей для Каско полиса</option>
<option value="2570003">Список водителей для ОСАГО полиса</option>
<option value="2570004">Список доп. оборудования</option>
<option value="2570007">Заявление на изменение ОСАГО полиса</option>
<option value="2570008">Заявление на отмену ОСАГО полиса</option>
<option value="2570010">Приветственное письмо КАСКО одноразовый платеж через банк</option>
<option value="2570011">Приветственное письмо КАСКО рассрочка, все через банк</option>
<option value="2570012">Приветственное письмо КАСКО, первый платеж курьеру</option>
<option value="2570013">Приветственное письмо ОСАГО</option>
<option value="2570014">Приветственное письмо ОСАГО КАСКО одноразовый платеж курьер</option>
<option value="2570015">Приветственное письмо ОСАГО КАСКО одноразовый платеж банк</option>
<option value="2570016">Приветственное письмо ОСАГО КАСКО рассрочка, все через банк</option>
<option value="2570017">Приветственное письмо ОСАГО КАСКО, первый платеж курьеру</option>
<option value="2561011">Звонок клиенту (по времени) - предложение на след. год</option>
<option value="5150507">Полис Каско по e-mail</option>
<option value="5036003">PA policy no stamp</option>
<option value="5300086">HouseHold A7</option>
<option value="5300137">HouseHold policy apartment (2)</option>
<option value="5300138">HouseHold policy house (2)</option>
<option value="5150324">CASCO_2012_Sorokin</option>
<option value="2710001">Страховой полис ОСАГО</option>
<option value="2710003">Копия страхового полиса ОСАГО</option>
<option value="2710005">Заявление о заключении договора ОСАГО</option>
<option value="2710007">Квитанция А7 (ОСАГО)</option>
<option value="2710009">Квитанция А7 (Каско)</option>
<option value="2710011">Счет ОСАГО</option>
<option value="2710037">Счет КАСКО</option>
<option value="2710013">Письмо</option>
<option value="2710015">Детали предложения</option>
<option value="2710017">Страховой полис Каско</option>
<option value="2710019">Копия страхового полиса Каско</option>
<option value="2710021">График платежей</option>
<option value="2710031">Направление на осмотр</option>
<option value="2710035">Акт осмотра</option>
<option value="2710023">Адрес, для конверта с прозрачным окошком</option>
<option value="2920391">Дополнительное соглашение к полису Каско</option>
<option value="2920392">Копия дополнительного соглашения к полису Каско</option>
<option value="2920429">Анкета Сведения о физическом лице</option>
<option value="2920430">Анкета Сведения о юридическом лице</option>
<option value="5150530">Attention_CashBack</option>
<option value="5036004">PA policy</option>
<option value="5036008">Receipt for bank payment HC and PA RosBank</option>
<option value="5151022">HouseHold thankful mail body</option>
<option value="5300378">Casco policy (New)</option>
<option value="5300379">Casco policy copy (New)</option>
<option value="5300380">Endorsement Casco policy (New)</option>
<option value="5036005">Hospital cash and Personal accident premium receipt by card</option>
<option value="5036006">Hospital cash and Personal accident premium receipt by cash</option>
<option value="5036007">Receipt bank payment HC and PA MKB</option>
<option value="5036009">Hospital cash and Personal accident for email</option>
<option value="5036011">Brief description</option>
<option value="5036014"> Endorsment HC and PA</option>
<option value="5036015">Copy of Endorsment HC and PA</option>
<option value="5410008">Фото документов по имуществу</option>
<option value="3340196">Квитанция об оплате</option>
<option value="3346054">Фотографии ПСО</option>
<option value="5032621">Документы (партнер)</option>
<option value="5150102">Дополнительное соглашение (New)</option>
<option value="5150103">Копия Аддендума к полису КАСКО (New)</option>
<option value="5150270">Счет КАСКО (ВТБ)</option>
<option value="5150271">Квитанция для оплаты в банк ПД4 КАСКО ВТБ </option>
<option value="5150273">Квитанция А7 (ОСАГО) MMF</option>
<option value="5150274">Квитанция А7 (Каско) MMF</option>
<option value="5150518">Letter motor header</option>
<option value="5300203">PPI Policy Lets go program 1</option>
<option value="5300204">PPI Policy Lets go program 2</option>
<option value="5300205">PPI Policy Lets go program 3</option>
<option value="5300206">Unemployment policy</option>
<option value="5300212">PPI Policy Lets go Pack 4</option>
<option value="5300213">PPI Policy Lets go Pack 5</option>
<option value="5300214">PPI Policy Lets go Pack 7</option>
<option value="5300215">PPI Policy Lets go Pack 8</option>
<option value="5300217">PPI Pravila strakhov_Klesch</option>
<option value="5300218">Unemployment rules</option>
<option value="5300219">PPI Pravila HC</option>
<option value="5300243">While you away letter online Header</option>
<option value="5150874">Полис Жизнь ПроБизнесБанк</option>
<option value="5190163">HouseHold policy While you are away</option>
<option value="5300242">While you away letter online Body</option>
<option value="5000003">Политика для курьерской доставки</option>
<option value="5000004">копия политики курьерской доставки</option>
<option value="5000001">a7 на получение дополнительной оплаты</option>
<option value="5000002">Политика для курьерской доставки</option>
<option value="3312960">Фото договора</option>
<option value="3312961">Фото талона ТО</option>
<option value="3312962">Фото паспорта</option>
<option value="3312963">Фото СТС/ПТС</option>
<option value="3312964">Фото водительского удостоверения</option>
<option value="5300401">Mail for Malinas client Body</option>
<option value="5300402">Mail for Malinas client Header</option>
<option value="5300560">Proposal casco via email (New)</option>
<option value="5300516">Casco policy by email (New)</option>
<option value="5190148">Письмо по добору страховой премии ДиКБМ</option>
<option value="5300590">Служебная записка. Отказ от фото паспорта</option>
<option value="3310628">Приветственное письмо продление</option>
<option value="3360010">Копия Аддендума к полису КАСКО</option>
<option value="5030781">Заявление на взаимозачет премии на очередной взнос_КАСКО</option>
<option value="5030782">Заявление на возврат излишне оплаченных денежных средств</option>
<option value="5030783">Заявление на расторжение с возвратом не ОСАГО</option>
<option value="5030784">Расторжение и перенос  на новый БЕЗ номера_КАСКО</option>
<option value="5030785">Расторжение и перенос на новый с номером_КАСКО</option>
<option value="5030786">Заявление на взаимозачет премии на очередной взнос_ОСАГО</option>
<option value="5030787">Заявление на выдачу дубликата ОСАГО</option>
<option value="5030788">Заявление на расторжение и возврат части премии_ОСАГО</option>
<option value="5030789">Расторжение и перенос на новый БЕЗ номера_ОСАГО</option>
<option value="5030790">Расторжение и перенос на новый с номером_ОСАГО</option>
<option value="5031611">Документ о продаже ТС</option>
<option value="5150307">Заявление ОСАГО по емаил</option>
<option value="5150323">Предложение КАСКО по емаил</option>
<option value="5150693">Правила ОСАГО</option>
<option value="5300036">Travel premium receipt</option>
<option value="5300038">Travel insurance policy</option>
<option value="5190168">Заявление на расторжение Мотор</option>
<option value="5190169">Заявление на возврат переплаты Мотор</option>
<option value="5190192">Опись к заявлению на расторжение</option>
<option value="5300275">Proposal HouseHold Apartment by e-mail Body</option>
<option value="5300284">Proposal HouseHold House by e-mail Body</option>
<option value="5300276">Proposal HouseHold Apartment by e-mail Header</option>
<option value="5300285">Proposal HouseHold by e-mail Header</option>
<option value="5300277">Предложение по страхованию ИМУЩЕСТВА (квартира) по e-mail</option>
<option value="5300278">Предложение по страхованию ИМУЩЕСТВА (дом) по e-mail</option>
<option value="5300286">HouseHold Info</option>
<option value="5300287">Страхование имущества: проспект (дом)</option>
<option value="5300341">Дополнительное соглашение Умное страхование</option>
<option value="5300342">Дополнительное соглашение Умное страхование (копия)</option>
<option value="5300348">Application for refund 10% Smart insurance</option>
<option value="2475000">Лист осмотра транспортного средства</option>
<option value="4300100">Сведения о страховании ОСАГО</option>
<option value="4300101">Запрос сведений о страховании в другую страховую компанию</option>
<option value="5150268">Опись</option>
<option value="5150283">Извещение КАСКО со схемой ДТП</option>
<option value="5036019">Agreement with bank</option>
<option value="5300349">Application for refund 20% Smart insurance</option>
<option value="5300381">Endorsement Casco policy copy (New)</option>
<option value="5190224">Дополнительное соглашение. КАСКО автосписание</option>
<option value="5190226">Дополнительное соглашение. КАСКО автосписание (копия)</option>
<option value="5300373">HC Combi PA_UE</option>
<option value="5300385">Copy HC Combi PA_UE</option>
<option value="5300386">HC Combi PA_UE Pravila</option>
<option value="5300387">HC Combi PA_UE for email</option>
<option value="5300388">Copy HC Combi PA_UE for email</option>
<option value="5300389">HC Combi PA_UE pravila for email</option>
<option value="3312982">Фото в.у. #2</option>
<option value="3312983">Фото в.у. #3</option>
<option value="3312984">Фото в.у. #4</option>
<option value="3312985">Фото в.у. #5</option>
<option value="5700045">Household Rule</option>
<option value="5300523">HouseHold policy (combi) old</option>
<option value="5700032">Уведомление о неуплате 1-ого взноса</option>
<option value="5700033">Уведомление о неуплате 2-ого взноса</option>
<option value="5700022">Уведомление о возврате денежных средств</option>
<option value="5190147">Письмо по возврату страховой премии ДиКБМ</option>
<option value="5300708">Пакет. Квартира с осмотром. Задача для mailroom</option>
<option value="5300709">Пакет. Дом с осмотром. Задача для mailroom</option>
<option value="5300710">Чек-лист. Предложение</option>
<option value="5300726">Фото имущества</option>
<option value="5300728">Заявления на страхование</option>
<option value="5300730">Лист расчета</option>
<option value="5300731">Результаты ПСО имущества</option>
<option value="5300711">HouseHold Checklist policy</option>
<option value="5300732">Предложение. КВАРТИРА с осмотром по e-mail</option>
<option value="5300733">Предложение. ДОМ с осмотром по e-mail</option>
<option value="5300734">Опись. Имущество с осмотром</option>
<option value="5700266">HouseHold policy apartment insp</option>
<option value="5300688">HouseHold policy house insp</option>
<option value="5700396">HouseHold policy apartment insp (2)</option>
<option value="5700397">HouseHold policy house insp (2)</option>
<option value="5700882">Заявление на расторжение Немотор</option>
<option value="5700883">Соглашение о расторжении (удержание 50%)</option>
<option value="5700884">Заявление на расторжение GAP</option>
<option value="5700976">WL for the client body</option>
<option value="5700977">WL for the client out</option>
<option value="5702069">PA policy few insured</option>
<option value="6090256">Proposal HouseHold by e-mail Body</option>
<option value="6500099">Брошюра ОСАГО 2</option>
<option value="5700135">Letter individual body</option>
<option value="5700136">Letter legal entity body</option>
<option value="5700137">Letter header</option>
<option value="5700228">Check-list for Partner Sale</option>
<option value="5300950">MTPL Policy New</option>
<option value="5300951">MTPL Policy Copy New</option>
<option value="5300966">Driver list for MTPL New</option>
<option value="5300967">Copy of Driver list for MTPL New</option>
<option value="5700888">Application for insurance Contact</option>
<option value="5301188">Letter to client with agreement body (direct)</option>
<option value="5301227">Letter to client with agreement body (partner)</option>
<option value="5301189">Letter to client with agreement header (direct)</option>
<option value="5301193">Letter to client with agreement header (partner)</option>
<option value="5702106">Фото договора лизинга</option>
<option value="5701048">Заявка на экспертизу Имущество</option>
<option value="5701049">Опись Имущество</option>
<option value="5701033">Заявление о страховом случае по имуществу</option>
<option value="5702262">Proposal HouseHold Telerossa by e-mail Body</option>
<option value="5700233">Otkaz vozvrat. Umnoe KACKO header</option>
<option value="5700234">Otkaz vozvrat. Umnoe KACKO body</option>
<option value="5700483">Additional agreement PDTL</option>
<option value="5300774">Endorsement Casco policy (Old_version)</option>
<option value="5300793">Travel VUZ Bank policy</option>
<option value="5300795">Travel flight insurance policy</option>
<option value="5300979">Proposal on calculate body</option>
<option value="5301175">Berezhlivoe casco rules</option>
<option value="5701257">Letter on satellites installation</option>
<option value="5701258">Letter on satellites installation header</option>
<option value="5701230">Договор купли-продажи или заказ-наряд установки спутника</option>
<option value="6090043">Заявление на экспертизу для ДСАГО</option>
<option value="6090044">Заявление на выплату ДСАГО</option>
<option value="6090045">Опись</option>
<option value="6700077">Дополнительное соглашение на ограничение по пробегу</option>
<option value="6700074">Дополнительное соглашение на ограничение по пробегу копия</option>
<option value="3313056">Лист осмотра header</option>
<option value="3313057">Лист осмотра body</option>
<option value="3313031">Letter to client request missing documents</option>
<option value="5700081">CASCO_pravila</option>
<option value="5700082">PA rules</option>
<option value="5300769">Endorsement Casco policy copy (Old_version)</option>
<option value="5301099">HC Telerossa policy</option>
<option value="5700620">Renewal Header</option>
<option value="5301105">Invoice HC - MKB</option>
<option value="5301106">HC receipt PD4_Rosbank</option>
<option value="5301107">HC and PA letter mail Body</option>
<option value="5301108">HC and PA header</option>
<option value="5701600">LK CASCO body</option>
<option value="5701688">LK MTPL body</option>
<option value="5701689">LK CASCO+MTPL(riders) body</option>
<option value="5702283">Claim mail header НН</option>
<option value="5700223">Additional agreement PPI</option>
<option value="5301109">Otkaz vozvrat. Umnoe CASCO body 2</option>
<option value="5301110">Zayavlenie na vozvrat. Umnoe CASCO Standart body 2</option>
<option value="5301111">Заявление на возврат 2. Умное КАСКО</option>
<option value="5301118">Otkaz vozvrat. Umnoe CASCO Standart body 1</option>
<option value="5301119">Zayavlenie na vozvrat. Umnoe CASCO Standart body 1</option>
<option value="5301120">Заявление на возврат 1. Умное КАСКО</option>
<option value="5301121">Additional agreement Telematics</option>
<option value="5301123">Additional agreement Telematics (copy)</option>
<option value="5700985">Заявление о страховом случае по НС</option>
<option value="5701281">Опись НС</option>
<option value="5701845">Travel via mail Body with policy (2)</option>
<option value="6090230">Доверенность на право получения страхового полиса</option>
<option value="6090232">Power of attorney for policy receipt letter header</option>
<option value="6090233">Power of attorney for policy receipt letter body</option>
<option value="6090276">Заявление на перерасчет КБМ</option>
<option value="5702236">Letter eMTPL scans needed content</option>
<option value="5300301">PPI Policy Pack 1</option>
<option value="5300303">PPI Policy Pack 3</option>
<option value="5300304">PPI Policy Pack 4</option>
<option value="5300305">PPI Policy Pack 5</option>
<option value="5300307">PPI Policy Pack 7</option>
<option value="5300308">PPI Policy Pack 8</option>
<option value="5700115">Zayavlenie na vozvrat. Umnoe KACKO</option>
<option value="5700106">Raspiska.Telematika</option>
<option value="5700110">Zayavlenie na vozvrat. Umnoe KACKO header</option>
<option value="5700148">Zayavlenie na vozvrat. Umnoe KACKO body</option>
<option value="5700151">Additional agreement Telematics</option>
<option value="5700152">Copy of additional agreement. Telematics</option>
<option value="5300771">Letter content Casco thanks email</option>
<option value="5700672">CardProtection certificate</option>
<option value="5700673">CardProtection rule</option>
<option value="5300999">CardProtection Endorsement certificate</option>
<option value="5301135">PA thankful letter body</option>
<option value="5701325">HC mail body Leader</option>
<option value="5701223">Фото В.У. WEB</option>
<option value="5701224">Фото СТС/ПТС WEB</option>
<option value="5701225">Фото паспорта WEB</option>
<option value="5701226">Фото документа о техосмотре WEB</option>
<option value="5701227">Фото договора купли-продажи WEB</option>
<option value="6090253">Соглашение о расторжении с даты начала действия</option>
<option value="6500110">Данные о представителях Интач в Регионах</option>
<option value="6090376">Additional agreement Telematics email header</option>
<option value="6090377">Additional agreement Telematics email body</option>
<option value="5700083">Napravlenie na remont</option>
<option value="5700087">Napravlenie na remont s actom</option>
<option value="5300638">Travel policy SunRise</option>
<option value="5300640">Travel mail Body with policy (SunRise)</option>
<option value="5300641">Travel mail Header (SunRise)</option>
<option value="5300752">Application of insurance event</option>
<option value="5700462">GAP SA policy</option>
<option value="5300789">GAP_pravila</option>
<option value="5301004">HouseHold policy post activation</option>
<option value="5301007">HouseHold Welcome letter post activation</option>
<option value="5700563">Letter tickets insurance body</option>
<option value="5700619">Letter tickets insurance header</option>
<option value="5700947">Направление на ремонт (ОСАГО)</option>
<option value="5700948">Направление на ремонт с актом (ОСАГО)</option>
<option value="5301244">PA_pravila_short</option>
<option value="5300190">Travel insurance policy 2</option>
<option value="5700089">Napravlenie na remont (fast track)</option>
<option value="5700095">Letter (fast track) header</option>
<option value="5700086">Izveshenie s detalaimi</option>
<option value="5301020">Travel Certificate</option>
<option value="5301022">Travel Certificate Endorsement</option>
<option value="5301149">Согласие на обработку и передачу персональных данных</option>
<option value="6090301">Запрос недостающих документов</option>
<option value="6090302">Letter to client request missing documents body</option>
<option value="6090452">Provide drivers licenses header</option>
<option value="6090454">Provide drivers licenses body</option>
<option value="6090263">Отказ от предоставления ВУ</option>
<option value="5300851">Inspection list for claim</option>
<option value="5700551">Соглашение о расторжении (без удержания)</option>
<option value="5300911">Flight certificate endorsement</option>

</select></td></tr>
<tr><td>Файлы для загрузки:</td><td><input id="upload-input" type="file" name="uploads[]" multiple="multiple"</td></tr>
</table>

<input type="hidden" name="contactId" value="#{contactId}">
<input type="hidden" name="systemModule" value="CONTACT">

<input type="submit"  value="Загрузить файлы">

</form></body></html>
